h2{
    color:rgb(117, 8, 113)
}


input {
    padding:5px 40px;
    margin:10px;
    

}

.buttonForm{
    padding: 10px 20px;
    background-color: rgb(105, 119, 241);
    border-radius: 10px;
    margin:10px;
}
